<!DOCTYPE html>
<html lang="en">

<head>

  {% include "header.html" %}

</head>
<body>

  {% include "navigation.html" %}
  
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contrib.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Community</h1>
            <span class="subheading">Launching Soon...</span>
          </div>
        </div>
      </div>
    </div>
  </header>




  {% include "footer.html" %}

</body>

</html>
